# Git
.git
.gitignore
.github

# OS / Editor
.vscode
.idea
.DS_Store
Thumbs.db

# Build output
tmp/
main
main.exe

# Dependency directories
vendor/
node_modules/

# Environment vars (should not be copied to image, injected via docker-compose instead)
.env
.env.*

# Logs
*.log
